@model ASP.NET_PersonControl.ViewModels.GroupsViewModel

@{
    ViewBag.Title = "groupEdit";
}

<h2>Edin group @Model.group.Title </h2>

@using (Html.BeginForm("Save", "Group"))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">

        @Html.HiddenFor(m => m.group.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.group.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.group.Title, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextAreaFor(model => model.group.Title,2, 55, null)
                @Html.ValidationMessageFor(model => model.group.Title, "", new { @class = "text-danger" })
            </div>
        </div>
        

        <div class="form-group">
            @Html.Label("Owner", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (!Model.curOwner.DisplayName.IsEmpty())
                {
                    @Html.DropDownListFor(m => m.curOwner.Id, new SelectList(Model.owners, "Id", "DisplayName"), new { id = "normalDropDown", @class = "form-control" })
                }
                else
                {
                    @Html.DropDownListFor(m => m.curOwner.Id, new SelectList(Model.owners, "Id", "DisplayName"), Model.curOwner.Email, new { @class = "form-control" })
                }
                @Html.ValidationMessageFor(m => m.owners, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.groups.ElementAt(0).Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.group.Description, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextAreaFor(Model => Model.group.Description, 10, 55, null)
                @Html.ValidationMessageFor(model => model.group.Description, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            @Html.HiddenFor(model => Model.curOwner.Id)
            <div class="form-group">
                <label class="control-label col-md-2">Select Employee</label>
                @*@Html.DropDownListFor(m => m.SelectedIDArray, new MultiSelectList(Model.owners, "Id", "DisplayName"), new { id = "normalDropDown3", multiple = "multiple", @class = "form-control" })*@
                @Html.DropDownList("myList", ViewBag.myList as SelectList, new { id = "normalDropDown3", multiple = "multiple", @class = "form-control" })
            </div>
        </div>
    }
    <input type="submit" value="Save" class="btn btn-primary" />
    <a class="btn btn-primary" href="@Url.Action("Delete", "Group", new { @id = @Model.group.Id })" data-form-method="get">Delete</a>
</div>
}


@section scripts{
   <script>
       $(function () {
           $("#normalDropDown").chosen();
       });

       $(function () {
           $("#normalDropDown2").chosen();
       });

       $(function () {
           $("#normalDropDown3").chosen({
           disable_search : false });
       });
    </script>
    }