@model ASP.NET_PersonControl.ViewModels.GroupsViewModel
@{
    ViewBag.Title = "GroupManager";
}

<h2>Group Manager</h2>

@if (Context.User.Identity.IsAuthenticated && (Context.User.IsInRole("Admin") || Context.User.IsInRole("Manager")))
{
    <h4>You can create new group. </h4>
    <button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Create", "Group") + "'");">Create group</button>
}
<br />
<br />
<h4>Current groups.</h4>

<table id="group" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Owner</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @for(int i = 0; i < Model.groups.Count(); i++)
        {
        <tr>
            <td>@Html.ActionLink(Model.groups.ElementAt(i).Title, "groupEdit", "Group", new { @id = Model.groups.ElementAt(i).Id }, null)</td>

            @if (Model.owners.ElementAt(i) != null && !Model.owners.ElementAt(i).DisplayName.IsEmpty())
            {
<<<<<<< HEAD
                <td>@Html.ActionLink(Model.owners.ElementAt(i).DisplayName, "Details", "Employees", new { @id = Model.owners.ElementAt(i).Id }, null)</td>
            }
            else if (Model.owners.ElementAt(i) != null)
            {
                <td>@Html.ActionLink(Model.owners.ElementAt(i).Email, "Details", "Employees", new { @id = Model.owners.ElementAt(i).Id }, null)</td>
=======
                <td>@Html.ActionLink(Model.owners.ElementAt(i).DisplayName, "DeteilsInfo", "Employees", new { @id = Model.owners.ElementAt(i).Id }, null)</td>
            } else { 
                <td>@Html.ActionLink(Model.owners.ElementAt(i).Email, "DeteilsInfo", "Employees", new { @id = Model.owners.ElementAt(i).Id }, null)</td>
>>>>>>> 2aae2f38c855e3c7a50658747c2843d3e7fea910
            }
            else
            {
                <td>User not found</td>
            }

            <td>@Model.groups.ElementAt(i).Description</td>
        </tr>
        }

    </tbody>
</table>
<button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");">Back</button>
