@model ASP.NET_PersonControl.ViewModels.GroupsViewModel

@{
    ViewBag.Title = "GroupDitail";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h2>Detail to @Model.group.Title</h2>
            <h4 class="card-title">@Model.group.Title information.</h4>
            <div class="table-responsive">
                <table class="table table-bordered" id="group">
                    <tbody>
                        <tr>
                            <td class="table-warning"><strong>Title:</strong></td>
                            <td class="table-warning">@Model.group.Title</td>
                        </tr>
                        <tr>
                            <td style="width:150px;" class="table-info"><strong>Owner:</strong></td>
                            <td class="table-info">

                                @for (int i = 0; i < Model.usersOfCurrentGroups.Count(); i++)
                                {
                                    if (!Model.usersOfCurrentGroups.ElementAt(i).DisplayName.IsEmpty())
                                    {
                                        @*@Model.usersOfCurrentGroups.ElementAt(i).DisplayName*@
                                        @Model.usersOfCurrentGroups.ElementAt(i).DisplayName 
                                    }
                                    else
                                    {
                                        @Model.usersOfCurrentGroups.ElementAt(i).Email
                                    }
                                    if (Model.usersOfCurrentGroups.Count() != (i + 1))
                                    {
                                        @String.Format(" , ")

                                    }
                                    else
                                    {
                                        @String.Format(" ")
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="table-warning"><strong>Description:</strong></td>
                            <td class="table-warning">@Model.group.Description</td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <a class="btn btn-light btn-fw" href="@Url.Action("Index", "MyGroups", new {  })" data-form-method="get">
                    <i class="mdi mdi-refresh"></i>Back to List
                </a>
            </div>
        </div>
    </div>
</div>