@model ASP.NET_PersonControl.ViewModels.NewRoleFormModel

@{
    ViewBag.Title = "CreateRoleView";
}

<h2>Create new role in company.</h2>

@using (Html.BeginForm("NewRole", "Employees"))
{
    @Html.AntiForgeryToken()
    <div>
        <div class="form-group">
            @Html.Label("Role name")
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoleNeme, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoleNeme, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="form-group">
                @Html.LabelFor(m => m.Roles)
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.RoleId, new SelectList(Model.Roles, "Id", "Name"), "Select user role", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.RoleId)
                </div>
            </div>*@

        <button class="btn btn-primary">Create</button>
        <input class="btn" type="button" value="Cancel" onclick="@("window.location.href='" + @Url.Action("Index", "Employees") + "'");" />

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
