@model ASP.NET_PersonControl.Models.ApplicationUser

@{
    ViewBag.Title = "GlobalUserViewInfo";
}


<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Personal info @Model.DisplayName   </h4>
            <form class="form-sample">
                <p class="card-description">
                    @*Personal info*@
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Name</label>
                            <div class="col-sm-9">
                                <input value="@Model.DisplayName" class="form-control" placeholder="no info" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">ID</label>
                            <div class="col-sm-9">
                                <input value="@Model.Id" class="form-control" placeholder="no info" disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">E-mail</label>
                            <div class="col-sm-9">
                                <input value="@Model.Email" class="form-control" placeholder="no info" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Phone</label>
                            <div class="col-sm-9">
                                <input class="form-control" value="@Model.PhoneNumber" placeholder="no info" disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">E-mail Confirmed</label>
                            <div class="col-sm-9">

                                @if (Model.EmailConfirmed.ToString() == "True")
                                {

                                    <label class="badge badge-success">Completed</label>

                                }
                                else
                                {
                                    @*<input value="@Model.EmailConfirmed.ToString()" class="form-control" disabled />*@
                                    <label class="badge badge-warning">In progress</label>

                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Country</label>
                            <div class="col-sm-9">
                                <input value="@Model.Country" class="form-control" placeholder="no info" disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">City</label>
                            <div class="col-sm-9">
                                <input value="@Model.City" class="form-control" placeholder="no info" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Address</label>
                            <div class="col-sm-9">
                                <input value="@Model.Address" class="form-control" placeholder="no info" disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Role</label>
                            <div class="col-sm-9">
                                <input value="@foreach (string roleName in Model.RoleNames){@roleName;}" class="form-control" placeholder="no info" disabled />
                            </div>
                        </div>
                    </div>

                </div>
            </form>
            <button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Index", "Group") + "'");">Back to List</button>
        </div>
    </div>
</div>
