@model ASP.NET_PersonControl.ViewModels.AdministrationFormViewModel

@{
    ViewBag.Title = "Index";

}

<h2>Roles</h2>

<table id="roles" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Role Id</th>
            <th>Role name</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model.Roles)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td>@Html.ActionLink("Delete", "DeleteRole", "Employees", new { @id = role.Id }, null)</td>
            </tr>
        }
    </tbody>
</table>
<br/>
<button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("CreateRoleView", "Employees") + "'");">New role</button>


<h2>Users</h2>

<table id="books" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Email confrimed</th>
            <th>Phone</th>
            <th>Country</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.Users)
        {
            <tr>

                <td>
                    @if (employee.DisplayName.IsEmpty() == true)
                    {
                        @Html.ActionLink(employee.UserName, "Details", "Employees", new { @id = employee.Id }, null)
                    }
                    else
                    {
                        @Html.ActionLink(employee.DisplayName, "Details", "Employees", new { @id = employee.Id }, null)
                    }
                </td>
                <td>@employee.Email</td>
                <td>@employee.EmailConfirmed</td>
                <td>@employee.PhoneNumber</td>
                <td>@employee.Country</td>
                <td>@foreach (string roleName in employee.RoleNames)
                {
                    @roleName;
                }</td>
            </tr>  
        }
    </tbody>
</table>
<br />
<button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Create", "Employees") + "'");">Create</button>