@model ASP.NET_PersonControl.ViewModels.ProjectsFormViewModel
@{
    ViewBag.Title = "Archive";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h2>Archive</h2>
            <h4 class="card-title">Current Complete Project</h4>
            <div class="table-responsive">
                <table class="table table-bordered" id="group">
                    <thead>
                        <tr>
                            <th>Customer</th>
                            <th>Project Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Status</th>
                            <th>Created</th>
                            <th>Deadline</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.projects.Count(); i++)
                        {
                            <tr>
                                @if(@Model.projects.ElementAt(i).isComplite.ToString() == "True")
                                {

                                
                                <td>
                                    @Html.ActionLink(Model.customers.ElementAt(i).Company, "DeteilCustomer", "Project", new { @id = Model.customers.ElementAt(i).Id }, null)
                                </td>

                                <td>
                                    @Html.ActionLink(Model.projects.ElementAt(i).Title, "Edit", "Project", new { @id = Model.projects.ElementAt(i).Id }, null)
                                </td>


                                <td>
                                    @Model.projects.ElementAt(i).Description
                                </td>

                                <td>
                                    $ @Model.projects.ElementAt(i).PriceInDollars
                                </td>
                                if (@Model.projects.ElementAt(i).isComplite.ToString() == "True")
                                {
                                    <td>
                                        <label class="badge badge-success">Completed</label>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <label class="badge badge-warning">In progress</label>
                                    </td>
                                }
                                <td>
                                    @Model.projects.ElementAt(i).BeginTime
                                </td>
                                <td>
                                    @Model.projects.ElementAt(i).UntilTime
                                </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <br />
            <button class="btn btn-outline-primary btn-rounded btn-fw" onclick="@("window.location.href='" + @Url.Action("Index", "Project") + "'");">
                <i class="mdi mdi-refresh"></i>Back
            </button>
        </div>
    </div>
</div>
