@model ASP.NET_PersonControl.ViewModels.CustomersFormViewModel

@{
    ViewBag.Title = "Deteil";
}

<h2>Deteil</h2>

<h2>@Model.customer.Company information.</h2>

<table id="books" class="table table-hover">
    <tbody>
        <tr>
            <td style="width:150px;"><strong>Name:</strong></td>
            <td>@Model.customer.Company</td>
        </tr>
        <tr>
            <td><strong>Contact Person:</strong></td>
            <td>@Model.customer.ContactPerson</td>
        </tr>
        <tr>
            <td><strong>Position:</strong></td>
            <td>@Model.customer.Position</td>
        </tr>
        <tr>
            <td><strong>Phone</strong></td>
            <td>@Model.customer.Phone</td>
        </tr>
        <tr>
            <td><strong>Description</strong></td>
            <td>@Model.customer.Description</td>
        </tr>
    </tbody>
</table>
<br />
<button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Index", "Project") + "'");">Back to List</button>