@model ASP.NET_PersonControl.Models.ApplicationUser


@{
    ViewBag.Title = "Details";
}

<h2>@Model.UserName.</h2>

<table id="books" class="table table-hover">
    <tbody>
        <tr>
            <td><img src="images/<%= %>" height="100" width="100" /></td>
        </tr>
        <tr>
            <td style="width:150px;"><strong>Name:</strong></td>
            <td>@Model.UserName</td>
        </tr>
        <tr>
            <td><strong>Email:</strong></td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td><strong>Email confrimed</strong></td>
            <td>@Model.EmailConfirmed</td>
        </tr>
        <tr>
            <td><strong>Phone</strong></td>
            <td>@Model.PhoneNumber</td>
        </tr>
        <tr>
            <td><strong>Phone confrimed</strong></td>
            <td>@Model.PhoneNumberConfirmed</td>
        </tr>
        <tr>
            <td><strong>Two factor enabled</strong></td>
            <td>@Model.TwoFactorEnabled</td>
        </tr>
        <tr>
            <td><strong>Lockout end date UTC</strong></td>
            <td>@Model.LockoutEndDateUtc</td>
        </tr>
        <tr>
            <td><strong>Lockeout enabled</strong></td>
            <td>@Model.LockoutEnabled</td>
        </tr>
        <tr>
            <td><strong>Access failed cout</strong></td>
            <td>@Model.AccessFailedCount</td>
        </tr>
        <tr>
            <td><strong>Country</strong></td>
            <td>@Model.Country</td>
        </tr>
        <tr>
            <td><strong>City</strong></td>
            <td>@Model.City</td>
        </tr>
        <tr>
            <td><strong>Address</strong></td>
            <td>@Model.Address</td>
        </tr>
        <tr>
            <td><strong>Role</strong></td>
            <td>
                @foreach (string roleName in Model.RoleNames)
                {
                    @roleName;
                }
            </td>
        </tr>
    </tbody>
</table>
<br />
<button class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Edit", "MyAccount", new { @id = @Model.Id }) + "'");">Edit</button>