@model ASP.NET_PersonControl.ViewModels.CustomersFormViewModel

@{
    ViewBag.Title = "Create";
}
@using (Html.BeginForm("Save", "Customers"))
{
    @Html.AntiForgeryToken()

    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Customer</h4>
                <p class="card-description">
                    @*Basic form elements*@
                </p>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <form class="forms-sample">
                    <div class="form-group">
                        @Html.LabelFor(Model => Model.customer.Company, htmlAttributes: new { })
                        <br />
                        @Html.EditorFor(model => Model.customer.Company, new { htmlAttributes = new { @class = "form-control", @placeholder="Company Name" } })
                        @Html.ValidationMessageFor(model => Model.customer.Company, "", new { @class = "text-danger" })
                    </div>


                    <div class="form-group">
                        @Html.Label("Contact Person", htmlAttributes: new { })
                        <br />
                        @Html.EditorFor(model => Model.customer.ContactPerson, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contact Name" } })
                        @Html.ValidationMessageFor(model => Model.customer.ContactPerson, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(Model => Model.customer.Position, htmlAttributes: new { })
                        <br />
                        @Html.EditorFor(model => Model.customer.Position, new { htmlAttributes = new { @class = "form-control", @placeholder = "Position in Company" } })
                        @Html.ValidationMessageFor(model => Model.customer.Position, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(Model => Model.customer.Phone, htmlAttributes: new { })
                        <br />
                        @Html.EditorFor(model => Model.customer.Phone, new { htmlAttributes = new { @class = "form-control", @pattern = "[0-9]{3}-[0-9]{3}-[0-9]{4}",@placeholder = "123-456-7890",@type= "number" } })
                        @Html.ValidationMessageFor(model => Model.customer.Phone, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(Model => Model.customer.Description, htmlAttributes: new { })
                        <br />
                        @Html.TextAreaFor(Model => Model.customer.Description, htmlAttributes: new { @class = "form-control", @rows = "4", @placeholder = "ect" })
                        @Html.ValidationMessageFor(model => Model.customer.Description, "", new { @class = "text-danger" })

                    </div>
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <input class="btn btn-light" type="button" value="Cancel" onclick="@("window.location.href='" + @Url.Action("Index", "Customers") + "'");" />
                </form>
            </div>
        </div>
    </div>

    
   

}


   
