@model ASP.NET_PersonControl.ViewModels.ProjectsFormViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>ProjectsFormViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class="table-responsive">
            <table id="roles" class="table table-striped">
                <thead>
                    <tr>
                        <th>Project title</th>
                        <th>Customer</th>
                        <th>Group</th>
                        <th>Group owner</th>
                        <th>Price in $</th>
                        <th>Description</th>
                        <th>Begin time</th>
                        <th>End time</th>
                    </tr>
                </thead>
                <tbody>
                    @for(int i = 0; i < Model.projects.Count(); i++)
                    {
                    <tr>
                        <td>@Model.projects.ElementAt(i).Title</td>
                        <td>@Model.customersList.ElementAt(i).ContactPerson</td>
                        <td>@Model.groupsInProject.ElementAt(i).Title</td>
                        <td>@Model.groupsOwners.ElementAt(i).DisplayName</td>
                        <td> $ @Model.projects.ElementAt(i).PriceInDollars</td>
                        <td>@Model.projects.ElementAt(i).Description</td>
                        <td>@Model.projects.ElementAt(i).BeginTime</td>
                        <td>@Model.projects.ElementAt(i).UntilTime</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
